@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family:Arial, 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #212121;
    background-color: #f6f6f6;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #1D1D1B;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #3a5d1b;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
    background-color: #017c49;
}
.btn-delete:hover {
    background-color: #921e1e;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #2b4414
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #921e1e;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.register-signup-form {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}   
.radio-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 20px;
}   

.flex-container input[placeholder="First Name"] {
    margin-right: 5px;
}

.flex-container .btn-add {
    margin-right: 5px;
}

.flex-container .btn-add  {
    text-align: center;
}
.flex-container .btn-delete  {
    text-align: center;
}

.account_radio {
    align-self: center;
    display: flex;
}

.register-signup-form .form {
    width: 500px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    padding: 34px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .img_box{
    width: 300px;
    height: 100px;
    padding: .75rem;
    align-items: center;
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
.title{
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center; 
}
form img{
    height: 120px;
    width: 200px;
    display: flex;
    justify-content: center;    
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}

/* Login/Signup form */



#defaultLayout {
    display: flex;
} 

#defaultLayout aside {
    width: 220px;
    background-color: #1D1D1B;
    transition: width 0.3s ease;
}

#defaultLayout aside .img_box{
    width: 220px;
    height: 80px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: #3a5d1b;
    padding: .75rem;
    align-items: center;
    display: flex;
}
#defaultLayout aside > a {
    display: block;
    padding: 0.70rem .7rem;
    margin: .7rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout aside button {
    display: block;
    padding: 0.70rem .7rem;
    margin: .7rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    width: 200px;
    text-align: left;
}

#defaultLayout aside > button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout aside ul {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


#defaultLayout aside li {
    display: block;
    border-radius: 6px;
    padding: 0.7rem .7rem;
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: .2rem;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    background-color: #222220;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#defaultLayout aside  li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-icon {
    color: #b3b3b3;

  }
#defaultLayout main {
    padding: 2rem;
}

#defaultLayout aside.open{
    display: block ;
}

@media (max-width: 800px) {
    #defaultLayout aside {
      display: none;
    }
  }
  
  @media (min-width: 801px) {
    .navicontainer {
      display: none;
    }
  }
  

.user-menu-btn{
    width: 120px;
}
.user-menu{
    position: absolute;
    background: white;
    display: block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.user-menu li a{
    display: block;
    padding: 0.70rem .7rem;
    margin-top: .3rem;
    margin-bottom: 0.7rem;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s;
    width: 120px;
}

.user-menu li> a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family:Arial, 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #212121;
    background-color: #f6f6f6;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #1D1D1B;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #3a5d1b;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
    background-color: #017c49;
}
.btn-delete:hover {
    background-color: #921e1e;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #2b4414
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #921e1e;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.register-signup-form {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}   
.radio-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 20px;
}   

.flex-container input[placeholder="First Name"] {
    margin-right: 5px;
}

.flex-container .btn-add {
    margin-right: 5px;
}

.flex-container .btn-add  {
    text-align: center;
}
.flex-container .btn-delete  {
    text-align: center;
}

.account_radio {
    align-self: center;
    display: flex;
}

.register-signup-form .form {
    width: 500px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    padding: 34px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .img_box{
    width: 300px;
    height: 100px;
    padding: .75rem;
    align-items: center;
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}
.title{
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center; 
}
form img{
    height: 120px;
    width: 200px;
    display: flex;
    justify-content: center;    
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}

/* Login/Signup form */



#defaultLayout {
    display: flex;
} 

#defaultLayout aside {
    width: 220px;
    background-color: #1D1D1B;
    transition: width 0.3s ease;
}

#defaultLayout aside .img_box{
    width: 220px;
    height: 80px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background: #3a5d1b;
    padding: .75rem;
    align-items: center;
    display: flex;
}
#defaultLayout aside > a {
    display: block;
    padding: 0.70rem .7rem;
    margin: .7rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout aside > button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout aside ul {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


#defaultLayout aside li {
    display: block;
    border-radius: 6px;
    padding: 0.7rem .7rem;
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: .2rem;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    background-color: #222220;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#defaultLayout aside  li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-icon {
    color: #b3b3b3;

  }
#defaultLayout main {
    padding: 2rem;
}

#defaultLayout aside.open{
    display: block ;
}

@media (max-width: 800px) {
    #defaultLayout aside {
      display: none;
    }
  }
  
  @media (min-width: 801px) {
    .navicontainer {
      display: none;
    }
  }


.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
