
.btn,
.btn-add,
.btn-edit,
.btn-delete {
font-family: "Roboto", sans-serif;
outline: 0;
background: #3a5d1b;
border: 0;
text-decoration: none;
padding: 15px;
color: #FFFFFF;
font-size: 16px;
transition: .3s ease-in-out;
transition: all 0.3 ease;
cursor: pointer;
}


.btn-exit{
    background-color: #b72424;
    font-size: 20px;
    outline: 0;
    transition: .3s ease-in-out;
    border-radius: 8%;
    color:white;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    
}
.btn-exit:hover{
    background-color:#921e1e;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete,
.btn-upload{
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-edit{
    background-color: #0074D9;
    text-align: center;
}

.btn-upload{
    background-color: #5f5f5f;
    text-align: center;
}
.btn-upload:hover{
    background-color: #3c3c3c;
    text-align: center;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #2b4414
}
.btn-add:hover {
    background-color: #017c49;
}
.btn-delete:hover {
    background-color: #921e1e;
}

.btn-edit:hover {
    background-color: #0462b4;
}


.icon{
margin-right: 1rem;
height: 20px;
align-items: center;
}
.icon:hover{
margin-right: 1rem;
transition: all 0.2s;
color: gray;

}

.user-menu{
position: absolute;
background: white;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
z-index: 9999;

margin-bottom: 2rem;
width: 12rem;
}
.user-menu li{
transition: all 0.2s;
text-decoration: none;
white-space: nowrap;
text-align: right;
width: 100%;
display:flex;
justify-content: space-between;
padding:.7rem 1rem;
}


.user-menu-button{
width: fit-content;
white-space: nowrap;
}
  
  
.user-menu-button:hover {
cursor: pointer;
}

.aside-button {
display: block;
color: white;
text-decoration: none;
transition: all 0.2s;
margin-bottom: -1px;
}

.user-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.user-menu{
    background: white;
    display: block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    margin-top: 200px;
}

.user-menu li a{
    display: flex;
    text-decoration: none;
    transition: all 0.2s;
    width: 120px;
    color:black;
    justify-content: space-between;
    padding: .2rem .1rem;
}

.user-menu li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.btn-proceed{
    transition: .3s ease-in-out;
}

.btn-proceed:hover{
    background-color: rgb(14, 60, 14);
}